.info__button-edit {
  border: 1px solid #fff;
  box-sizing: border-box;
  background-image: url(../../../images/edit_button.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: #000;
}

.info__button-edit:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 470px) {
  .info__button-edit {
    width: 18px;
    height: 18px;
  }
}
