.info__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  font-weight: 500;
  max-width: 330px;
}

@media screen and (max-width: 800px) {
  .info__name {
    font-size: 32px;
    line-height: 36px;
    max-width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .info__name {
    font-size: 27px;
    line-height: 32px;
    text-align: center;
  }
}
