.content {
  margin: 0 200px;
}

@media screen and (max-width: 1100px) {
  .content {
    margin: 0 74px;
  }
}

@media screen and (max-width: 786px) {
  .content{
    margin: 0 28px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    margin: 0 19px;
  }
}
