.button {
  border: 1px solid #fff;
  box-sizing: border-box;
  background-image: url(../../images/edit_button.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
